---
title: Download
---
#main{:class=>"span-18 colborder"}
  
  %h1{:class=>"titleheader"}= "Downloading S4"
    
  %p= "The current stable version is 0.5.0-incubating. You can verify your download by following <a href='http://www.apache.org/info/verification.html'>these procedures</a> and using <a href='http://www.apache.org/dist/incubator/s4/KEYS'>these keys</a>."
  
  / 0.5.0
  %h2{:class=>"secheader"}= "0.5.0 release"
  
  %ul
    %li <a href='http://www.apache.org/dist/incubator/s4/s4-0.5.0-incubating/RELEASE_NOTES.html'>Release notes</a>
    %li Source release: <a href='http://www.apache.org/dist/incubator/s4/s4-0.5.0-incubating/apache-s4-0.5.0-incubating-src.zip'>s4-0.5.0-incubating-src.zip</a> (<a href='http://www.apache.org/dist/incubator/s4/s4-0.5.0-incubating/apache-s4-0.5.0-incubating-src.zip.asc'>asc</a>, <a href='http://www.apache.org/dist/incubator/s4/s4-0.5.0-incubating/apache-s4-0.5.0-incubating-src.zip.md5'>md5</a>)
    %li Binary release: <a href='http://www.apache.org/dist/incubator/s4/s4-0.5.0-incubating/apache-s4-0.5.0-incubating-bin.zip'>s4-0.5.0-incubating-bin.zip</a> (<a href='http://www.apache.org/dist/incubator/s4/s4-0.5.0-incubating/apache-s4-0.5.0-incubating-bin.zip.asc'>asc</a>, <a href='http://www.apache.org/dist/incubator/s4/s4-0.5.0-incubating/apache-s4-0.5.0-incubating-bin.zip.md5'>md5</a>)

  / older-releases
  %h2{:class=>"secheader"}=  "Older version"

  %p="There is no 0.4.x release"
  
  %p="Older version can be downloaded through github. See instructions <a href='http://docs.s4.io/tutorials/getting_started.html'>here</a>."
