# Eclipse meta-information
.project
.classpath
.settings

# Build directory
target/
build/
bin/
tmp/
pepe/

# SVN
.svn

# Gradle files
.gradle

# Backup files
*~

# Misc hidden files
.DS_Store 

# Java
*.class

# apache RAT
.rat-excludes

# website output
website/output
website/tmp
website/.sass-cache
website/crash.log